[submodule "themes/--force"]
	path = themes/--force
	url = git@github.com:SteveLane/hugo-icon.git
[submodule "themes/hugo-theme-jane"]
	path = themes/hugo-theme-jane
	url = git@github.com:xianmin/hugo-theme-jane.git
